/* filepath: c:\Users\bibs\Documents\entrance\frontend-next\app\globals.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Times+New+Roman:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-times-new-roman: "Times New Roman", serif;
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: sans-serif; /* Substituído por uma fonte padrão */
  --font-mono: monospace; /* Substituído por uma fonte padrão */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Garantindo que o fundo ocupe toda a tela e removendo margens residuais */
html,
body {
  font-family: var(--font-times-new-roman), serif; /* Apply Times New Roman globally */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #202020;
}

#__next {
  width: 100%;
  height: 100%;
}

.font-poppins {
  font-family: var(--font-poppins);
}
